<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preload" href="https://unpkg.com/flickity@2/dist/flickity.min.css" as="style">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <link rel="stylesheet" href="styles.css">
  <title>Filmrausch</title>
</head>

<body>
  
  <%- include('../shared/header.ejs') %>

  <main>
    <div class="controls">
      <button class="controls__button" id="btn-prev">back</button>
      <% data.forEach((movie, i) => { %>
      <a class="controls__link" href="#movie<%=i+1%>">
        <%= ddmm(new Date(movie.date))%>
      </a>
      <% }) %>  
      <button class="controls__button" id="btn-next">forward</button>
    </div>
    <div class="carousel">
      <% data.forEach((movie, i) => { %>
      <div class="movie card" id="movie<%= i+1 %>">
        <h2 class="movie__title">
           <span><%= movie.name %></span>
           <span class="movie__title--year">(<%= movie.year %>)</span>
        </h2>
        <img class="movie__poster" data-flickity-lazyload-src="<%= movie.poster %>" alt="poster <%= movie.name %>">
        <p class="movie__description"><%= movie.description %></p>
      </div>
      <% }) %>
    </div>
  </main>

  <%- include('../shared/footer.ejs') %>
</body>

<script>
  var dates = <%-JSON.stringify(data.map(movie => movie.date))%>
</script>
<script src="https://unpkg.com/flickity@2.1.2/dist/flickity.pkgd.min.js"></script>
<script src="script.js"></script>

</html>